p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

div {
  font-weight: bold;
  background-color: rgb(30, 28, 28);
  width: 340px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.music {
  color: rgb(231, 217, 217);
  padding-left: 10px;
  margin-bottom: 10px;
}

.add {
  color: gray;
  width: 330px;
  font-size: 13px;
  padding-left: 10px;
}